---
id: home
title:  Home
layout: default

image:  /assets/headers/logo.png

hero: /assets/devices.png
hero-title: Welcome to LicenseKit!

description: Protect your Swift-based products and apps with commercial licenses.
---

<div class="home-content paper">
  <p>
    The LicenseKit SDK helps you protect your software with commercial licenses. It supports all major Apple platforms (iOS, iPadOS, macOS, tvOS and watchOS) and can validate licenses on-device and over remote web requests.
  </p>

  <section>
    <h2>Rich Capabilities</h2>
    <p>
      LicenseKit lets you set up licenses with code, read licenses from files, validate licenses over remote web requests, etc. Licenses can specify and validate expiration date, platform (iOS, macOS, etc.), bundle ID, tier, and much more.
    </p>
  </section>

  <section>
    <h2>Affordable Pricing</h2>
    <p>
      LicenseKit is <a href="/pricing">free to start</a> and <a href="/pricing">affordable to scale</a> for indie developers, startups, businesses and enterprises.
    </p>
  </section>

  <section>
    <h2>Explore</h2>

    <div class="grid features">
      {% for feature in site.data.home-features %}
      {%- if feature.hidden -%}
      {%- else -%}
      <a href="{{ feature.url }}">
        <img src="{{ feature.image }}" alt="{{ feature.title }} icon" title="{{ feature.title }}" />
        <h3>{{ feature.title }}</h3>
        <p>{{ feature.text }}</p>
      </a>
      {%- endif -%}
      {% endfor %}
    </div>
  </section>

  <section>
    <h2>Latest news</h2>
    <div>
      <a href="/blog">Blog</a> ·
      <a href="{{ site.twitter_url }}">Twitter</a> ·
      <a href="{{ site.mastodon_url }}">Mastodon</a>
    </div>
    <p></p>
    <div class="grid blog list">
      {% for post in site.posts limit:2 %}
          <div>
            {% include kankoda/blog/post-list-item.html post=posts.first %}
          </div>
      {% endfor %}
    </div>
  </section>

  <section>
    <h2>Integrates with</h2>
    <p class="grid integrations">
      <a href="https://gumroad.com">
        <img src="/assets/headers/gumroad.png" alt="LicenseKit integrates with Gumroad" title="Gumroad" />
      </a>
      <a href="mailto:info@getkeyboardkit.com">
        <img src="/assets/headers/cloud.png" alt="LicenseKit integrates with any REST-based license API" />
      </a>
    </p>
  </section>
</div>