<ul>
    <li>🇺🇸 English (Default)</li>
</ul>
<ul>
    <li>🇦🇱 Albanian</li>
    <li>🇦🇪 Arabic</li>
    <li>🇦🇲 Armenian</li>
    <li>🇧🇾 Belarusian</li>
    <li>🇧🇬 Bulgarian</li>
    <li>🇦🇩 Catalan</li>
    <li>🏳️ Cherokee</li>
    <li>🇭🇷 Croatian</li>
    <li>🇨🇿 Czech</li>
    <li>🇩🇰 Danish</li>

    <li>🇳🇱 Dutch</li>
    <li>🇧🇪 Dutch (Belgium)</li>
    <li>🇬🇧 English</li>
    <li>🇬🇧 English (UK)</li>
    <li>🇺🇸 English (US)</li>
    <li>🇪🇪 Estonian</li>
    <li>🇫🇴 Faroese</li>
    <li>🇵🇭 Filipino</li>
    <li>🇫🇮 Finnish</li>
    <li>🇫🇷 French</li>

    <li>🇧🇪 French (Belgium)</li>
    <li>🇨🇭 French (Switzerland)</li>
    <li>🇬🇪 Georgian</li>
    <li>🇩🇪 German</li>
    <li>🇦🇹 German (Austria)</li>
    <li>🇨🇭 German (Switzerland)</li>
    <li>🇬🇷 Greek</li>
    <li>🇺🇸 Hawaiian</li>
    <li>🇮🇱 Hebrew</li>
    <li>🇭🇺 Hungarian</li>

    <li>🇮🇸 Icelandic</li>
    <li>🇮🇩 Indonesian</li>
    <li>🇮🇪 Irish</li>
    <li>🇮🇹 Italian</li>
    <li>🇰🇿 Kazakh</li>
    <li>🇹🇯 Kurdish Sorani</li>
    <li>🇹🇯 Kurdish Sorani (Arabic)</li>
    <li>🇹🇯 Kurdish Sorani (PC)</li>
    <li>🇱🇻 Latvian</li>
    <li>🇱🇹 Lithuanian</li>
    <li>🇲🇰 Macedonian</li>

    <li>🇲🇾 Malay</li>
    <li>🇲🇹 Maltese</li>
    <li>🇲🇳 Mongolian</li>
    <li>🇳🇴 Norwegian</li>
    <li>🇮🇷 Persian</li>
    <li>🇵🇱 Polish</li>
    <li>🇵🇹 Portuguese</li>
    <li>🇧🇷 Portuguese (Brazil)</li>
    <li>🇷🇴 Romanian</li>
    <li>🇷🇺 Russian</li>

    <li>🇷🇸 Serbian</li>
    <li>🇷🇸 Serbian (Latin)</li>
    <li>🇸🇰 Slovak</li>
    <li>🇸🇮 Slovenian</li>
    <li>🇪🇸 Spanish</li>
    <li>🇰🇪 Swahili</li>
    <li>🇸🇪 Swedish</li>
    <li>🇹🇷 Turkish</li>
    <li>🇺🇦 Ukrainian</li>
    <li>🇺🇿 Uzbek</li>
</ul>