<div class="table-header-container">
    <div class="grid table-header">
        <div class="feature"></div>

        {% for tier in include.tiers %}
        <div class="tier {{tier.name | downcase}}">
            
            <h3>{{tier.name}}</h3>
            <div>
            {% if include.price == "monthly" %}
            {% assign price = tier.monthly_price_month %}
            {% elsif include.price == "yearly" %}
            {% assign price = tier.monthly_price_year %}
            {% endif %}

            {% if price %}
            <p>${{price}}/month</p>
            <p class="subtitle">(billed {{ include.price }})</p>
            {% else %}
            <p>&nbsp;</p>
            <p class="subtitle">&nbsp;</p>
            {% endif %}

            {% if tier.cta %}
            <a href="{{tier.url}}" class="cta scale">
                {{tier.cta}}
            </a>
            {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <hr style="box-shadow: none !important" />
  </div>