<section class="grid licenses">
  <div class="license">
    <h3>Basic</h3>
    <div class="features">
      <p>✔&nbsp; 1 App/Library</p>
      <p>✔&nbsp; 100 local licenses</p>
      <p>✔&nbsp; Local License Engine</p>
      <p>✗&nbsp; Remote License Engine</p>
      <p>✗&nbsp; Multi-platform support</p>
    </div>
    <h4>
      <a href="mailto:{{site.email}}?subject=Basic License">$100/year</a>
    </h4>
  </div>
  <div class="license">
    <h3>Pro</h3>
    <div class="features">
      <p>✔&nbsp; 1 App/Library</p>
      <p>✔&nbsp; Unlimited local licenses</p>
      <p>✔&nbsp; Local License Engine</p>
      <p>✔&nbsp; Remote License Engine</p>
      <p>✔&nbsp; Multi-platform support</p>
    </div>
    <h4>
      <a href="mailto:{{site.email}}?subject=Pro License">$1000/year</a>
    </h4>
  </div>
</section>