$site-background: #e3e4e8;
$content-background: white;
$footer-background: $site-background;

$foreground: black;
$foreground-secondary: #222;
$shadow: #00000065;

$link: black;
$link-hover: #444;

$code-background: #e9e9e9;
$code-foreground: black;
$code-border: #ccc;

$code-block-background: #112;
$code-block-foreground: white;

$hero-background: $site-background;
$hero-line: white;

$tag-background: black;
$tag-foreground: white;
$tag-hover: #223;
$tag-border: none;

$swift-color: #E44D35;
$swiftui-color: #004080;