$background: white;
$foreground: black;
$foreground-secondary: #222;
$shadow: #0008;

$link: black;
$link-hover: #444;

$code-background: #112;
$code-foreground: white;

$hero-background: #e3e4e8;
$hero-line: #fff;

$footer-background: #e3e4e8;

$tag-background: black;
$tag-foreground: white;
$tag-hover: #223;
$tag-border: none;

$swift-color: #E44D35;
$swiftui-color: #020B8C;