$site-background: #e3e4e8;
$content-background: white;
$footer-background: clear;

$texture: transparent;
$texture-size: 350px;
$texture-overlay: transparent;

$foreground: black;
$foreground-secondary: #222;
$shadow: #00000065;

$link: black;
$link-hover: #888;

$code-background: #e9e9e9;
$code-foreground: black;
$code-border: #ccc;

$code-block-background: #112;
$code-block-foreground: white;

$license-border-color: #ddd;
$license-table-color: white;
$license-even-row-color: #f7f7f7;
$license-shadow-color: transparent;

$tag-background: black;
$tag-foreground: white;
$tag-hover: #223;
$tag-border: solid 1px black;

$swift-color: #E44D35;
$swiftui-color: #004080;