.blog {

  .post-header {
    font-size: small; 
    font-weight: normal;
    margin-bottom: 0px;
    color: $foreground-secondary !important;
  }

  .post-header + h1 {
    margin-top: 0px !important;
    margin-bottom: 20px !important;
  }

  .post-header + h2 {
    margin-top: 0px !important;
  }

  .list {

    margin-top: 50px;

    article + article {
      margin-top: 50px;
    }
  }
}