.highlighter-rouge {
  border: 0;
  background: $code-background !important;
  color: white;
  
  .highlight {
    border: 0;
    background: $code-background !important;
  }

  code {
    background: transparent !important;
  }
}

div.highlighter-rouge {
  border-radius: 10px;
  margin: 20px 0;

  overflow: hidden;
  
  pre {
    margin-bottom: 0px;
  }
}