html, body {
  color: $foreground;
  background: linear-gradient($texture-overlay, $texture-overlay), $site-background;
  background-size: $texture-size;
  width: 100%;
}

html{
  scroll-behavior: smooth;
}

a {
  transition: all 150ms ease-in-out, color 1s ease-out 50ms !important;
}

a, a:visited {
  color: $link;
}

a:hover, a:visited:hover {
  color: $link-hover;
}

blockquote {
  color: $foreground !important;
  background-color: #fff3;
}

.home {
  text-align: center;
}

.page-content {
  background-color: $content-background;
}

.wrapper {
  max-width: 900px;
}