.grid.screenshots {
  grid-template-columns: repeat(6, 1fr);
  margin: 50px 0;

  img { 
    border-radius: 6px !important; 
  }
}

.grid.screenshots.three {
  grid-template-columns: repeat(3, 1fr);
}