.grid { 
  display: grid; 
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}

.grid.sponsors {
  margin: 50px 0;
  grid-template-columns: repeat(6, 1fr);

  img { 
    max-width: 100px; 
    object-fit: cover;
    opacity: 0.5;
    filter: grayscale(100%);
    transition: all 200ms ease-in-out, color 1s ease-out 100ms !important;
  }

  img:hover {
    opacity: 1;
    filter: grayscale(0%);
  }
}