article {
  p + .grid {
    margin: 50px 0;
  }
}

.grid-title {
  margin: 15px;
}

.grid { 
  display: grid; 
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  grid-template-columns: repeat(4, 1fr);

  p {
    margin: 10px 0 0 0;
  }
  
  img {
    border-radius: 13px;
    box-shadow: 1px 2px 1px $shadow;
  }
}


.grid.blog {
  grid-column-gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}

.grid.icons {  
  img {
    border-radius: 23%;
  }
}


.grid.icons, .grid.bands, .grid.themes {
  text-align: center;
}


.grid.icons, .grid.bands, .grid.features {

  grid-column-gap: 40px;

  a:hover, a:visited:hover {
    text-decoration: none;
    transform: scale(1.04);
  }
}

@media (max-width: 600px) {
  
  .grid.blog { 
    grid-row-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .grid.clients {
    grid-template-columns: repeat(7, 1fr) !important;
  }
  
  .grid.icons { 
    grid-template-columns: repeat(2, 1fr);
  }
}