.license-table {

  padding: 30px 0;

  .grid {
    background-color: $license-table-color;

    grid-row-gap: 10px;
    grid-column-gap: 5px;
    grid-template-columns: repeat(5, 1fr);

    > div.feature { 
      justify-content: left;
      font-size: small;
      font-weight: bold;
      margin-left: 10px;
    }

    > div {
      padding: 10px 0;
      font-size: 0.9em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .gumroad-button {
      span.logo-full {
        display: none;
      }
    }
  }

  .grid.footer {
    background-color: transparent;
  }

  .table-header-container {
    position: sticky; 
    top: 0;
  }

  .table-header {
    background-color: $content-background;
    padding: 6px 0;

    > div {
      border-radius: 5px;
      display: block;
      text-align: center;
    }

    h3 {
      font-size: 1.1em;
    }

    h3+div {
      font-size: 1em;
      font-weight: 600;

      .subtitle {
        font-size: smaller;
        font-weight: normal;
        opacity: 0.5;
      }
    }

    .trial {
      background-color: white;
      margin-top: 12px;
      padding: 5px 20px;
      border-radius: 16px;
      font-size: small;
      box-shadow: #00000011 0px 1px 2px 0px;
    }

    div.basic .trial {
      background-color: #f5f5f5;
      box-shadow: none;
    }

    .trial:hover {
      box-shadow: #00000011 0px 2px 4px 0px;
    }

    h3, p {
      margin: 0; padding: 0;
    }
  }

  .table-section-header {
    background-color: $license-table-color;
    display: none;
    padding: 5px 5px 0px 5px;
    font-size: smaller;
    font-weight: bold;
  }

  .table-section-header + .grid {
    border-top: solid 1px $license-border-color !important;
  }

  hr {
    border: none !important;
    border-bottom: solid 1px $license-border-color !important;
    height: 50px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    box-shadow: 0 20px 20px -20px $license-shadow-color !important;
    margin: -50px auto 10px !important; 
  }

  .grid + .grid {
    border: none;
  }

  div.free, div.basic, div.indie {
    background-color: #fff;
    border: solid 2px $license-border-color;
  }

  div.silver, div.startup {
    background-color: #f7f7f7;
    border: solid 2px #d5d5d5;
  }

  div.gold, div.business {
    border: solid 2px gold;
    background-color: rgba(255, 215, 0, 0.2);
  }

  div.enterprise, div.custom {
    border: solid 2px black;
    background-color: #222;
    color: white;
    a, a:hover, a:visited { 
      color: white; 
    }
  }

  .odd, .odd + .grid {   // !!!
    background-color: $license-even-row-color;
  }
}

@media (max-width: 950px) {

  .license-table {

    .grid {
      grid-template-columns: repeat(4, 1fr) !important;

      .feature {
        display: none;
        background-color: red;
      }
    }

    .table-section-header { 
      display: inherit;
      border-top: solid 1px $license-border-color !important;
    }

    .table-section-header + .grid {
      border-top: none !important;
    } 
  }
}
  
@media (max-width: 500px) {

  .license-table {

    h3.regular { display: none !important; }
    h3.compact { display: block !important; }

    .table-header {
      font-size: 12px;
    }
  }
}