.gumroad-button {

  background-color: black !important;
  color: #fff !important;
  span.logo-full {
    display: none;
  }
}

.gumroad-button:hover {
  box-shadow: .25rem .25rem 0 #ccc !important;
}

.gumroad-container {
  padding-top: 40px;
  text-align: center;
}

  
@media (max-width: 500px) {

  .gumroad-button {
    padding: 0.4em !important;
    font-size: 0.8em !important;
  }
}