.hero {
  padding-top: 50px;
  margin-bottom: 50px;

  background: $site-background;
  background-size: $texture-size;
  text-align: center;
  
  h1 {
    margin-top: 0px !important;
  }
  
  .image-wrapper {
    padding: 20px 0;

    img {
      border-radius: 40px;
    }
  }

  p { 
    font-size: 1.1em;
    font-weight: 600 !important;
  }

  .emoji {
    font-size: 10em;
    border-radius: 15px;
    line-height: 1.4em;
  }


  .wrapper {
    position: relative;
    z-index: 1000;
  }
  
  .hero-line {
    position: relative;
    height: 0px;
    z-index: 0;
    background: red;

    .line-content {
      position: absolute;
      width: 100%;
      bottom: 0px;

      .line {
        height: 100px;
        background: linear-gradient(to top left, $content-background 0%, $content-background 50%, transparent 50%, transparent 100%) !important;
        background-size: $texture-size;
      }
      
      .line-footer {
        height: 70px;
        background: $content-background;
      }
    }
  }
}