h1 {
  margin-top: 40px;
}

.hero {
  background: $site-background;
  background-size: $texture-size;
  margin-top: -100px;
  padding-top: 30px;
  text-align: center;
  
  h1 {
    margin-top: 100px;
  }
  
  img {
    padding: 20px 0;
  }

  p { 
    font-size: 1.1em;
    font-weight: 600 !important;
  }

  .emoji {
    font-size: 10em;
    border-radius: 15px;
    line-height: 1.4em;
  }
}

.hero-line {
  height: 100px;
  background: linear-gradient(to top left, $content-background 0%, $content-background 50%, transparent 50%, transparent 100%) !important;
  background-size: $texture-size;
  margin-top: -180px;
  margin-bottom: 90px;
}