.page-content {

  padding-top: 0;
  padding-bottom: 30px;

  h2, h3 { margin-top: 2em; }

  p + p { margin-top: 1.1em; }

  a.back-button {
    margin-top: 40px;
    margin-left: -12px;
  }

  a.back-button + h1 {
    margin-top: 0px;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: left;
}

article + .grid {
  margin-top: 60px;
}