ul.horizontal {
  margin: 0;
  padding: 0;
  display: inline;

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 15px;
  }

  li:first-child {
    margin-left: 0px;
  }

  .svg-icon {
    padding-right: 0px;
  }
}