.site-header {

  min-height: 0px;
	border: 0 !important;
  padding: 15px 0;

  .row {
    align-items: center;
  }
  
  .logo:hover {
    transform: none;
    transform: scale(1.04);
  }

  .column:nth-of-type(1) {
    flex-basis: 10%;
    text-align: left;
  }

  .column:nth-of-type(2) {
    flex-basis: 90%;
    text-align: right;
  }
}

.layout-no-hero {
  
  .site-header {
      background-color: $site-background;
      box-shadow: 0 0 8px $shadow;
  }

  .site-header + .page-content {
      padding-top: 30px;
  }
}