.site-header {

  min-height: 0px;
	border: 0 !important;
  padding: 15px 0;

  .row {
    align-items: center;
  }

  .logo img {
    max-height: 50px;
  }

  .logo:hover {
    transform: none;
    transform: scale(1.04);
  }

  .column:nth-of-type(1) {
    flex-basis: 20%;
    text-align: left;
  }

  .column:nth-of-type(2) {
    flex-basis: 90%;
    text-align: right;
  }
}

.layout-no-hero {
  
  .site-header {
      background-color: $site-background;
      
      .row {
        min-height: 40px;
      }
  }

  .site-header + .page-content {
      padding-top: 30px;
  }
}