{%- assign type = include.type -%}
{%- assign name = include.name -%}
{%- assign image = include.image -%}
{%- assign icon = include.icon -%}
{%- assign image-class = include.image-class -%}

{%- if type == "bands" or type == "photos" or type == "themes" -%}
{%- assign extension = "jpg" -%}
{%- else -%}
{%- assign extension = "png" -%}
{%- endif -%}

{%- if image -%}
{%- else -%}
{%- assign image = include.name -%}
{%- endif -%}

{% if icon %}
    <img src="/assets/icons/{{ icon }}.{{extension}}" alt="{{ title }} icon" title="{{ title }}" />
{% else %}
    <img src="{{ image }}" alt="{{ title }} image" title="{{ title }}" />
{% endif %}

{%- if item.name -%}
<p>{{ item.name }}</p>
{%- elsif item.title -%}
<p>{{ item.title }}</p>
{%- endif -%}