{%- assign type = include.type -%}
{%- if type == "bands" or type == "photos" or type == "themes" -%}
{%- assign extension = "jpg" -%}
{%- else -%}
{%- assign extension = "png" -%}
{%- endif -%}

<div class="grid {{type}} {{include.class}}">
  {% for item in include.items %}
    {%- if item.url -%}
    <a href="{{ item.url }}" name="{{ item.name | slugify }}" title="{{ item.name }}">
      {% include kankoda/grids/grid-item.html type=type name=item.name image=item.image image-class=include.image-class %}
    </a>  
    {%- else -%}
    <div>
      {% include kankoda/grids/grid-item.html type=type name=item.name image=item.image image-class=include.image-class %}
    </div>
    {%- endif -%}
  {% endfor %}
</div>