{% assign tags = (include.tags | sort:0) %}
{% assign firstmost = (include.firstmost | split: ",") %}

<section class="tag-list">
  <a class="tag all" href="javascript:showAllTags()">
    show all
  </a>
  {% for tag in firstmost %}
    {% include kankoda/tags/tag.html name=tag %}
  {% endfor %}
  {% for tag in tags %}
    {% assign name = tag | first | slugify %}
    {% if firstmost contains name %}
    {% else %}
      {% include kankoda/tags/tag.html name=name %}
    {% endif %}
  {% endfor %}
</section>