<footer class="site-footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="row">
      {%- assign pages = site.pages -%}
      {%- assign paths_site = site.footer_pages_sitemap -%}
      {%- assign paths_app = site.footer_pages_app -%}
      
      <div class="column">
        <p>Site</p>
        {%- include kankoda/global/site-footer-links.html paths=site.footer_pages_sitemap -%}
      </div>
      
      {% if site.is_app == 1 %}
      <div class="column">
        <p>App</p>
        <a href="{{ site.appstore_url }}">App Store</a>
        {%- include kankoda/global/site-footer-links.html title="App" paths=site.footer_pages_app -%}
      </div>
      {% endif %}
      
      {% if site.is_lib == 1 %}
      <div class="column">
        <p>Code</p>
        <a href="{{ site.github_url }}">GitHub</a>
        <a href="{{ site.github_url }}/issues">Issues</a>
        <a href="{{ site.documentation_url }}">Documentation</a>
        {%- include kankoda/global/site-footer-links.html title="App" paths=site.footer_pages_app -%}
      </div>
      {% endif %}
      
      <div class="column">
        <p>Social</p>
        {% if site.twitter_url %}
        <a href="{{site.twitter_url}}">Twitter</a>
        {% endif %}
        {% if site.instagram_url %}
        <a href="{{site.instagram_url}}">Instagram</a>
        {% endif %}
      </div>

      <div class="column">
        <p>Contact</p>
        <a href="mailto:{{site.email}}">E-mail</a>
      </div>

    </div>

    <div class="copyright">
      © {{site.copyright_year}} <a href="{{site.copyright_url}}">{{site.copyright_owner}}</a>. All rights reserved.
    </div>
  </div>
</footer>
