<footer class="site-footer paper">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <hr />
    <div class="row">
      {%- assign pages = site.pages -%}
      {%- assign paths_site = site.footer_pages_sitemap -%}
      {%- assign paths_app = site.footer_pages_app -%}
      
      <div class="column">
        <p>Site</p>
        {% include kankoda/global/site-footer-links.html paths=site.footer_sitemap %}
      </div>
      
      <div class="column">
        <p>Social</p>
        {% if site.twitter_url %}
        <a href="{{site.twitter_url}}">Twitter</a>
        {% endif %}
        {% if site.mastodon_url %}
        <a href="{{site.mastodon_url}}">Mastodon</a>
        {% endif %}
        {% if site.instagram_url %}
        <a href="{{site.instagram_url}}">Instagram</a>
        {% endif %}
        {% if site.linkedin_url %}
        <a href="{{site.linkedin_url}}">LinkedIn</a>
        {% endif %}
        {% if site.rss_url %}
        <a href="{{site.rss_url}}">RSS</a>
        {% endif %}
        <a href="mailto:{{site.email}}">E-mail</a>
      </div>
      
      {% if site.footer_extra_title %}
      <div class="column">
        <p>{{ site.footer_extra_title }}</p>
        {% include kankoda/global/site-footer-links.html paths=site.footer_extra %}
      </div>
      {% endif %}
      
      {% if site.is_app == 1 %}
      <div class="column">
        <p>App</p>
        <a href="{{ site.appstore_url }}">App Store</a>
        {% include kankoda/global/site-footer-links.html paths=site.footer_app %}
      </div>
      {% endif %}
      
      {% if site.is_lib == 1 %}
      <div class="column">
        <p>Code</p>
        <a href="{{ site.github_url }}">GitHub</a>
        <a href="{{ site.github_url }}/issues">Issues</a>
        <a href="{{ site.documentation_url }}">Documentation</a>
      </div>
      {% endif %}

      <div class="column">
        <p>Kankoda</p>
        <a href="https://kankoda.com">Website</a>
        <a href="https://keyboardkit.com">KeyboardKit</a>
        <a href="https://getlicensekit.com">LicenseKit</a>
        <a href="https://wally.app">Wally</a>
      </div>

    </div>

    <div class="copyright">
      © {{site.copyright_year}} <a href="{{site.copyright_url}}">{{site.copyright_owner}}</a>. All rights reserved.
    </div>
  </div>
</footer>
