<header class="site-header" role="banner">
  <div class="row wrapper">
    <div class="column">
      <a class="logo" href="/">
        {%- if site.header_image -%}
        <img src="{{ site.header_image }}" alt="{{site.title}} icon/logo" title="{{site.title}} home page" />
        {%- elsif site.header_logo_text -%}
        <span>{{ site.header_logo_text }}</span>
        {%- endif -%}
      </a>
    </div>
    <div class="column">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      <ul class="horizontal">
        {%- for path in page_paths -%}
          {%- assign page = site.pages | where: "path", path | first -%}
          {%- if page.title -%}
            <li><a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>&nbsp;</li> 
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  </p>
  </div>
</header>