$site-background: lightsteelblue;
$content-background: aliceblue;
$footer-background: clear;

$license-border-color: #d2dAe2;
$license-table-color: white;
$license-even-row-color: #e2eAf2;
$license-shadow-color: #00000088;