$background: #fff;
$foreground: #111;
$foreground-light: #777;
$hero-background: hsl(230, 8%, 90%);
$box: #f0f0f0;

html, body {
  color: $foreground;
  background-color: $background;
}

.site-header {
  background-color: $hero-background;
}

a, a:visited {
  color: $foreground;
}

a:hover {
  color: $foreground-light;
}

.gumroad-button {
  color: white !important;
}