.hero {
    background-color: $hero-background;
    text-align: center;
    padding-top: 30px;

    p { 
        font-weight: 600 !important;
        font-size: 1.2em;
    }

    p + img {
        margin-top: 30px;
    }

    .emoji-h1 {
        margin-top: -20px;
        margin-bottom: -40px;
    }


    .emoji-h1.globe {
        margin-top: -20px;
        margin-bottom: -60px;
    }
}

.hero-line {
    height: 100px;
    background: linear-gradient(to top left, $background 0%, $background 50%, transparent 50%, transparent 100%) !important;
    margin-top: -70px;
    margin-bottom: 30px;
}

.home {

    .hero-line {
        margin-top: -80px;
        margin-bottom: 20px;
    }
}