.home {
    .hero-line {
        margin-top: -165px;
        margin-bottom: 130px;
    }
}

.hero {

    .emoji-h1 {
        margin-top: -20px;
        margin-bottom: -40px;
    }

    .emoji-h1.globe {
        margin-top: -20px;
        margin-bottom: -60px;
    }

    .emoji-h1.license {
        margin-top: -20px;
        margin-bottom: -80px;
    }
}