body.pro, body.pricing {
    .wrapper {
        max-width: 900px;
    }
}

.license-table {
    .grid {
        grid-template-columns: repeat(5, 1fr) !important;
    }
}

@media (max-width: 950px) {

    .license-table {
  
      .grid {
        grid-template-columns: repeat(4, 1fr) !important;
  
        .feature {
          display: none;
          background-color: red;
        }
      }
  
      .table-section-header { 
        display: inherit;
      }
    }

    .license-table.oss-vs-pro {
        .grid {
          grid-template-columns: repeat(2, 1fr) !important;
        }
    }
  }
  
  @media (max-width: 500px) {
  
    .license-table {
  
      h3.regular { display: none !important; }
      h3.compact { display: block !important; }
  
      .table-header {
        font-size: 12px;
      }
     }
  }