.home {

    .grid.features {
        img {
            box-shadow: none !important;
        }
    }

    .grid.integrations {
        margin-top: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
}

.back-button {
    display: block;
}

.hero {

    img {
        padding: 10px 0;
        width: 250px;
    }

    .hero-line {
        margin-top: -180px;
        margin-bottom: 90px;
    }
}

.home .hero {

    img {
        width: 750px;
        margin-top: 20px;
    }

    .hero-line {
        margin-top: -200px;
        margin-bottom: 130px;
    }
}