html, body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

a {
  font-weight: bold;
  text-decoration: underline;
}

.home {
  h1 { 
    font-size: 2.5em; 
    line-height: 1.2em;
  }
}

footer {
  font-size: 0.8em;
}

p.post-date {
  font-size: small; 
  margin: 10px 0 30px 0;
}

.emoji-h1 {
  font-size: 10em !important;
}
.emoji-h2 {
  font-size: 3em !important;
}

// Header lines ******

.home {

  text-align: center;

  h2 {
    overflow: hidden;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  
  h2:before, h2:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 0.5px;
    position: relative;
    vertical-align: middle;
    width: 60%;
  }
  
  h2:before {
    right: 0.5em;
    margin-left: -60%;
  }
  
  h2:after {
    left: 0.5em;
    margin-right: -60%;
  }
}