{% assign tags = (site.tags | sort:0) %}

{% for tag in tags %}
  {% assign name = tag | first %}
  {% assign posts = tag | last %}
  {% assign count = posts | size %}
  <a name="{{ name | slugify }}"></a>
  <section class="blog list tag-{{ name | slugify }}" style="display: none">
    {% for post in posts %}
    {%- include kankoda/blog/post-list-item.html post=post -%}  
    {% endfor %}
  </section>
{% endfor %}

<script rel="javascript">
  let tag = window.location.hash.substring(1);
  showTag(tag);
</script>