{% assign tags = (site.tags | sort:0) %}

<script rel="javascript">
  var currentTag;

  function hideTag(tag) {
    $(".tag-" + tag).hide();
  }

  function showTag(tag) {
    hideTag(currentTag);
    currentTag = tag;
    $(".tag-" + tag).show();
    window.location.href = "#" + tag; 
  }
</script>

<section class="tag-list">
  {% for tag in tags %}
    {% assign name = tag | first %}
    {% assign posts = tag | last %}
    {% assign count = posts | size %}
    {% assign size = 1 | times: count %}
    {% assign font-size = count | times: 0.02 | plus: 1 %}
    <a class="tag" href="javascript:showTag('{{ name | slugify }}')" style="font-size: '{{ font-size }}em';">
      {{name}}
    </a>
  {% endfor %}
</section>

{%- include kankoda/blog/tag-post-list.html -%}