---
layout: default
---

<article class="blog post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  
  {% include kankoda/buttons/back.html href="/blog" title="Blog" %}

  <h1>
    {{ page.title | escape }}
    {% include kankoda/blog/post-header.html post=page %}
  </h1>
  <div class="e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if page.tweet or page.toot -%}
    {%- assign discussion_links = "" -%}
    {%- if page.tweet -%}
      {%- assign discussion_links = discussion_links | append: '<a href="' -%}
      {%- assign discussion_links = discussion_links | append: page.tweet -%}
      {%- assign discussion_links = discussion_links | append: '">this tweet</a>' -%}
    {%- endif -%}
    {%- if page.tweet and page.toot -%}
      {%- assign discussion_links = discussion_links | append: ' or ' -%}
    {%- endif -%}
    {%- if page.toot -%}
      {%- assign discussion_links = discussion_links | append: '<a href="' -%}
      {%- assign discussion_links = discussion_links | append: page.toot -%}
      {%- assign discussion_links = discussion_links | append: '">this Mastodon post</a>' -%}
    {%- endif -%}

    <h2>Discussion</h2>

      {%- if site.disqus.shortname -%}
      <p>
        I hope that you found this post interesting. I would love to 
        hear your thoughts and feedback, so feel free to comment in
        the Disqus section below or as a reply to {{ discussion_links }}.
      </p>
      {%- else -%}
      <p>
        If you found this post interesting and want to discuss it further, 
        feel free to start a discussion in a reply to {{ discussion_links }}.
      </p>
      {%- endif -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

{% include kankoda/disqus/disqus-card.html %}
{% include kankoda/tags/scripts.html %}